CompileFlags:
  Add: [-isysroot=/Users/dg/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20240530/xtensa-esp-elf]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields]
