[submodule "components/bme688/bme68x"]
	path = components/bme688/bme68x
	url = https://github.com/boschsensortec/BME68x_SensorAPI
[submodule "components/scd41/embedded_i2c_scd4x"]
	path = components/scd41/embedded_i2c_scd4x
	url = https://github.com/Sensirion/embedded-i2c-scd4x
[submodule "components/lsm6dsox/lsm6dsox_pid"]
	path = components/lsm6dsox/lsm6dsox_pid
	url = https://github.com/STMicroelectronics/lsm6dsox-pid
[submodule "components/lis2mdl/lis2mdl_pid"]
	path = components/lis2mdl/lis2mdl_pid
	url = https://github.com/STMicroelectronics/lis2mdl-pid
